/* db833 style sheet */


.header3 {
    line-height:28px;
    padding-left:15px;
    padding-right:15px;
}

.top-left-header3 {
    display:inline-block;
    color: black;
    margin-top:10px;
    float:left;
}

.top-right-header3 {
    display:inline-block;
    color: black;
    margin-top:10px;
    float:right;

}

.top-left-header3 a{
    color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.top-left-header3 a:hover{
    text-decoration: underline;
}


.top-right-header3 a{
    text-align:right;
    color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    
}

.top-right-header3 a:hover{
    text-decoration: underline;
}

.top-right-btn3 a{
background-image: -moz-linear-gradient(rgb(67, 135, 253), rgb(70, 131, 234));
color: white;
display: inline-block;
font-weight: 700;
line-height: 28px;
padding-left: 12px;
padding-right: 12px;
}

.buttons {
    display:inline-block;
    width: 100%;
    text-align:center;
    line-height:28px;
}
.grey-button {
    margin-top:10px;
    margin-right:10px;
    padding-left: 5px;
    padding-right: 5px;
    display:inline-block;
    height:28px;
    background-color: #f1ededec;
    color: rgb(106, 106, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border-radius: 4px;

}






.logo {
    text-align:center;
    white-space: nowrap;
}

.logo img{
    max-width: 100%;
    text-align:center;
}

.search {
    width: 100%;
    text-align:center;

}


.search-input {
    width: 25%;
}

.footer {
    position:absolute;
    bottom:0%;
    width:100%;
    color: rgba(0, 0, 0, 0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    line-height: 40px;
    background-color: rgb(242, 242, 242);
}

.footer-links a{
    position:relative;
    width:100%;
    color: rgba(0, 0, 0, 0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}

.footer-left{
    display:inline-block;
    float:left;
    width:25%

}

.footer-middle{
    display:inline-block;
    width: 50%;
    text-align:center;
}

.footer-right{
    display:inline-block;
    width:25%;
    float:right;
    text-align:right;
}



